/*! Place your custom styles here */
.pagination > li:first-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li:last-child > span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.row .lev-okc > a:active,
.row .lev-okc > a:visited,
.row .lev-okc > a:focus{
	color: #212121;
}
.row .lev-okc > a:hover {
	color: #cf3a3a;
	font-weight: bold;
}
.space-okc {
	padding: 10px 0;
}
.space-okc .lev-okc {
	border-left: 1px solid #f4f4f4;
}
.space-okc .lev-okc:first-child{
	border-left: 0;
}